header{
    background:#BBBBBB;
}

h1{
    display: inline;
}
#logo{
    width: 250px;
}

nav li{
    display: inline;
    margin: 10px;
}

nav{
    display: inline-block;   
} 

nav a {
    text-transform: uppercase;
    color: chartreuse;
    font-weight: bold;
    font-size:20px;
    text-decoration: none;  
}
    
