header{
    background:#BBBBBB;
}
   

.class-nav{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h1{
    display: inline;
}
#logo{
    width: 250px;
}

nav li{
    display: inline;
    margin: 10px;
}

nav{
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 110px;
} 

nav a {
    text-transform: uppercase;
    color: yellow;
    font-weight: bold;
    font-size:20px;
    text-decoration: none;  
}
    
